<div class="conteiner-fluid">
	<h1 class="alert alert-dark">{{PAGE_TITLE}}</h1>
    {%for object in object_list %}
			<a class="btn btn-secondary mr-2 mt-2 ml-2 mb-2" role="button" href="{{URL}}{{object.pk}}">{{object}}</a>
    {%endfor%}
</div>

