{%load static%}
{% block stylesheets %}
	<link href="{% static 'nav_user.css'%}" rel="stylesheet"/>
{% endblock stylesheets %}
<style>
.nav_user p{
    color: white;
    margin-right: 5px;
}
.nav_right{
    margin-right: 0px;
}
.nav_user a{
    padding: 10px 10px 10px 10px;
    margin-right: 5px;

}
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary nav_user">
<div class="container-fluid">
		{%if user.is_authenticated%}
		<a class="navbar-brand" href="/">MLOpsTool</a>
		{%else%}
		<a class="navbar-brand" href="/">MLOpsTool</a>
		{%endif%}
    
    {%if user.is_authenticated%}
    <div class="collapse navbar-collapse" id="navbarNav"> 
		<ul class="navbar-nav">
			<li class="nav-item ml-1">
              <a role="button" href="{%url 'Data:data_list'%}" class="btn btn-dark">Dataset</a>
			</li>
            <li class="nav-item ml-1">
              <a role="button" href="{%url 'Tag:tag_list' %}" class="btn btn-dark">Tags</a>
			</li>

			<li class="nav-item ml-1">
					<a role="button" href="{%url 'Project:list_project' %}" class="btn btn-dark">Projetos</a>
			</li>
		</ul>
    </div>
    <div class="nav_rigth">
    <p>{{user.username}}</p>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
        <a class="btn btn-danger" role="button" href="{%url 'User:user_logout'%}">logout</a>
        </li>
    </ul>
    </div>
  </div>
  </div>
    {%else%}
    <div class="nav_rigth">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
        <a class="btn btn-success" role="button" href="{%url 'User:create_user'%}">sing up</a>
        </li>
    </ul>
    </div>
    </div>
    {%endif%}
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>
