{% extends 'layouts/base.html' %}
{% load static%}
{%block title%}Pipeline detail{%endblock title%}
{%block content%}
<div>
		<h1 class="text-white mt-2">Projeto: {{object.project.name}}</h1>
		<h2 class="text-white mt-2"> Versão da pipeline: {{object.version}}</h2>

		<div class="text-white mt-5">
			<div class="mb-5">
				<h3 class="alert alert-info">Dado: </h3>
				{%url 'Pipeline:update_data' pk=object.id as data_url%}
				{%include "includes/add_button_view.html" with urls=data_url%}
				{%if object.data%}
					<a href="#" class="btn btn-block btn-lg btn-warning text-left text-white">Nome: {{object.data.name}} | Versão: {{object.data.version}}</a>
				{%else%}
					<p class="alert alert-warning">Sem dados vinculados</p>
				{%endif%}
			</div>
			<div class="mb-5">
				<h3 class="alert alert-info">Pré processamentos: </h3>
				{%url 'PreProcessing:create_preprocessing' id=object.id as preprocessing%}
    			{%include "includes/add_button_view.html" with urls=preprocessing%}
				{%if object.preprocessing_set.all %}
					{% for pre_processing in object.preprocessing_set.all %}
						<div class="d-flex justify-content-between bg-info p-2 mb-2">
							<div>
								<a href="#" class="btn btn-block btn-lg btn-info text-left text-white">
											Nome: {{pre_processing.name}} | Tipo: {{pre_processing.function.lib}} | Função: {{pre_processing.function.method}} | Coluna Alvo: {{pre_processing.target}}
								</a>
							</div>
							<div>
								<a href="{%url 'PreProcessing:delete_preprocessing' id=pre_processing.id%}"><i class="bi bi-x-circle-fill text-white"></i></a>
							</div>
						</div>
					{%endfor%}
				{%else%}	
					<p class="alert alert-warning">Sem dados vinculados</p>
				{%endif%}
				
			</div>
			<div class="mb-5">
				<h3 class="alert alert-info">Modelo: </h3>
				{%url 'Model:create_model' id=object.id as model_url%}
    			{%include "includes/add_button_view.html" with urls=model_url%}
				{%if object.model%}
				<a href="#" class="btn btn-block btn-lg btn-danger text-left text-white">Nome: {{object.model.name}} | X: {{object.model.x_field}} | Y: {{object.model.y_field}}</a>
				{%else%}
					<p class="alert alert-warning">Sem dados vinculados</p>
				{%endif%}
			</div>
		</div>
		<a href="{%url 'Pipeline:start_train' id=object.id%}" class="btn btn-block btn-lg btn-success"> Treinar Pipeline</a>
</div>
{%endblock content%}
