
{% extends 'layouts/base.html' %}
{% load static%}
{%load custom_tags%}
{%block title%}Update pipeline{%endblock title%}
{%block content%}
<style>
.project_form p{
    text-align: inherit;
	color: white;
}
.project_form li{
	list-style: disc outside none;
}
</style>
<div>
	<form method="POST" class="mt-4 text-rigth text-light">
		{%csrf_token%}
		<div class="project_form">
		{{form.as_p}}
		<button class="btn btn-success" type="submit">
				Update
		</button>
		</div>
	</form>
</div>
{%endblock content%}
