{% extends 'layouts/base.html' %}
{% load static%}
{%block title%}Criar Projeto{%endblock title%}
{%block content%}
<style>
.project_form p{
    text-align: inherit;
	color: white;
}
.project_form li{
	list-style: disc outside none;
}
</style>
<div>
	<form method="POST" class="mt-4 text-rigth text-light">
		{%csrf_token%}
		<div class="project_form">
		{{form.as_p}}
		<input class="btn-success" type="submit" value="Criar Pipeline">
		</div>
	</form>
</div>
{%endblock content%}
