{% extends 'layouts/base.html' %}
{% load static%}
{%block title%}Dataset {{object.name}} {{object.version}}{%endblock title%}
{%block content%}
<div class="conteiner-fluid text-white">
  <table class="table justify-content-center text-white">
  <thead>
  {% for column in object.columns%}
      <th>{{column}}</th>
  {%endfor%}
  </thead>
  <tbody>
    {%for rows in row_set%}
        <tr scope="row">
          {%for key, content in rows.content.items%}
            {%for value in content%}
              <td style="word-break:break-all; overflow:hidden" >{{value}}</td>
            {%endfor%}
          {%endfor%}
        </tr>
      {%endfor%}
  </tbody>
  </table>
</div>

{%endblock content%}
