{% extends 'layouts/base.html' %}
{% load static%}
{%block title%}Criar Dataset{%endblock title%}
{%block content%}
<style>
.project_form p{
    text-align: inherit;
	color: white;
}
.project_form li{
	list-style: disc outside none;
}
.not-visible {
  display: none;
}
</style>
<form method="POST" action="POST" class="mt-4 text-rigth text-light" enctype="multipart/form-data" id="form-data">
    {%csrf_token%}
    <div class="project_form">
    {{form.as_p}}
    <div id="progress-box" class="not-visible"><p>Progress</p></div>
    <div id="cancel-box" class="not-visible">
      <button id="cancel-button" class="btn btn-danger mb-3">cancel</button>
    </div>

    <input class="btn-success" type="submit" value="Criar Dataset">
    </div>
    </form>
{%endblock content%}
