{% extends 'layouts/base.html' %}
{% load static%}
{%load custom_tags%}
{%block title%}Criar Projeto{%endblock title%}
{%block content%}
<style>
.project_form p{
    text-align: inherit;
	color: white;
}
.project_form li{
	list-style: disc outside none;
}
</style>
<div>
	<form method="POST" class="mt-4 text-rigth text-light">
		{%csrf_token%}
		<div class="project_form">
		{{form.as_p}}
		<div id="method_form"></div>
		<div id="method_doc"></div>
		<div class="form-group">
			<label for="id_params">Paramêtros</label>
			<input type="text" name="params", id="id_params" class="form-control"/>
			<small>colocar paramêtros com "nome=valor, outro=valor"</small>
		</div>
		<div class="form-group">
			<label for="id_target">Coluna Alvo</label>
			<input type="text" name="target", id="id_target" class="form-control"/>
			<small>Coluna que deseja aplicar a função do dataset</small>
		</div>
		<button class="btn btn-success" type="submit">
				Criar
		</button>
		</div>
	</form>
</div>
{%endblock content%}
{%block javascripts%}
<script>
const type_preprocessing = document.getElementById('id_type_preprocessing');
const form = document.getElementById('method_form');
type_preprocessing.addEventListener('click', ()=>{
		console.log(type_preprocessing.value)
		if(type_preprocessing.value === 'SK'){
			form.innerHTML = `
			<label for="methods">Selecionar Método</label>
			<select class="form-control" id="methods" name="func_method">
					{%for method, doc in sk%}
						<option doc="{{doc}}" value="{{method}}">{{method}}</option>
					{%endfor%}
			</select>	
				`
			const methods = document.getElementById('methods');
			methods.addEventListener('click', () => {
				const doc = document.getElementById('method_doc');
					doc.innerHTML = `
						<div class="dropdown show w-100">
						  <a class="btn btn-secondary dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Documentação
						  </a>

						  <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item w-100" href="#">`+methods[methods.selectedIndex].getAttribute('doc')+`</a>
						  </div>
						</div>
				`;
			})	
			return
		}
		if(type_preprocessing.value === 'SK_LABEL'){
			form.innerHTML = `
			<label for="methods">Selecionar Método</label>
			<select class="form-control" id="methods" name="func_method">
					{%for method, doc in label%}
						<option doc="{{doc}}" value="{{method}}">{{method}}</option>
					{%endfor%}
			</select>	
				`
			const methods = document.getElementById('methods');
			methods.addEventListener('click', () => {
				const doc = document.getElementById('method_doc');
					doc.innerHTML = `
						<div class="dropdown show w-100">
						  <a class="btn btn-secondary dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Documentação
						  </a>

						  <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item w-100" href="#">`+methods[methods.selectedIndex].getAttribute('doc')+`</a>
						  </div>
						</div>
				`;
			})	
			return
		}
		if(type_preprocessing.value === 'TF'){
			form.innerHTML = `
			<label for="methods">Selecionar Método</label>
			<select class="form-control" id="methods" name="func_method">
					{%for method, doc in tf%}
						<option doc="{{doc}}" value="{{method}}">{{method}}</option>
					{%endfor%}
			</select>
			`
			const methods = document.getElementById('methods');
			methods.addEventListener('click', () => {
				const doc = document.getElementById('method_doc');
				doc.innerHTML = `
						<div class="dropdown show w-100 mt-2 mb-2">
						  <a class="btn btn-secondary dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Documentação
						  </a>

						  <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item w-100" href="#">` + methods[methods.selectedIndex].getAttribute('doc') + `</a>
						  </div>
						</div>
				`;
			})
			return
		}
		else{
			const doc = document.getElementById('method_doc');
			doc.innerHTML = ``;
			form.innerHTML = ``;
				return
		}
})
</script>
{%endblock javascripts%}
