{% extends 'layouts/base.html' %}
{% load static%}
{%load custom_tags%}
{%block title%}Criar Projeto{%endblock title%}
{%block content%}
<style>
.project_form p{
    text-align: inherit;
	color: white;
}
.project_form li{
	list-style: disc outside none;
}
</style>
<div>
	<form method="POST" class="mt-4 text-rigth text-light">
		{%csrf_token%}
		<div class="project_form">
		{{form.as_p}}
		<div id="method_form"></div>	
		<div class="form-group">
			<label for="id_params">Paramêtros</label>
			<input type="text" name="params", id="id_params" class="form-control"/>
			<small>colocar paramêtros com "nome=valor, outro=valor"</small>
		</div>
		<div class="form-group">
			<label for="id_x_axis">Eixo X</label>
			<input type="text" name="x_axis", id="id_x_axis" class="form-control"/>
			<small>Coluna que deseja aplicar a função do dataset</small>
		</div>
		
		<div class="form-group">
			<label for="id_y_axis">Eixo Y</label>
			<input type="text" name="y_axis", id="id_y_axis" class="form-control"/>
			<small>Coluna que deseja aplicar a função do dataset</small>
		</div>
		<button class="btn btn-success" type="submit">
				Criar
		</button>
		</div>
	</form>
</div>
{%endblock content%}
{%block javascripts%}
<script>
const type_model = document.getElementById('id_type_model');
const form = document.getElementById('method_form');
type_model.addEventListener('click', ()=>{
		console.log(type_model.value)
		if(type_model.value === 'svm'){
			form.innerHTML = `
			<label for="methods">Selecionar Método</label>
			<select class="form-control" id="methods" name="func_method">
					{%for method, doc in svm%}
						<option doc="{{doc}}" value="{{method}}">{{method}}</option>
					{%endfor%}
			</select>	
			<div id="method_doc"></div>	
		`
			const methods = document.getElementById('methods');
			methods.addEventListener('click', () => {
				const doc = document.getElementById('method_doc');
					doc.innerHTML = `
						<div class="dropdown show w-100">
						  <a class="btn btn-secondary dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Documentação
						  </a>

						  <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item w-100" href="#">`+methods[methods.selectedIndex].getAttribute('doc')+`</a>
						  </div>
						</div>
				`;
			})	
		}
		else if(type_model.value === 'tf'){
			form.innerHTML = `
				<label for="layers">Quantidade de camadas</label>
				<input type="number" id="layers" class="form-control"/>
				<input type="button" id="layer_btn" value="+" class="form-control"/>
				<div id="forms_2"></div>
				<div id="method_doc"></div>
				<div class="form-group">
					<label for="id_params_last">Paramêtros de fit</label>
					<input type="text" name="params_last", id="id_params_last" class="form-control"/>
					<small>colocar paramêtros com "nome=valor, outro=valor"</small>
				</div>
			`
			const btn = document.getElementById('layer_btn');
			btn.addEventListener('click', () =>{
				const layers = document.getElementById('layers');
				const form_2 = document.getElementById('forms_2');
				form_2.innerHTML = ``;
			    for(var i=0; i < parseInt(layers.value); i++){
					form_2.innerHTML += `
					<label for="methods_`+i+`">Selecionar Método `+(i+1)+`</label>
					<select class="form-control" id="methods_`+i+`" name="func_method_`+i+`">
							{%for method, doc in tf%}
								<option doc="{{doc}}" value="{{method}}">{{method}}</option>
							{%endfor%}
					</select>
				<div class="form-group">
							<label for="id_params`+i+`">Paramêtros `+(i+1)+`</label>
							<input type="text" name="params_`+i+`", id="id_params_`+i+`" class="form-control"/>
							<small>colocar paramêtros com "nome=valor, outro=valor"</small>
				</div>
					`
					const methods = document.getElementById('methods_'+i+'');
					methods.addEventListener('click', () => {
						const doc = document.getElementById('method_doc');
						doc.innerHTML = `
								<div class="dropdown show w-100 mt-2 mb-2">
								  <a class="btn btn-secondary dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Documentação
								  </a>

								  <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
									<a class="dropdown-item w-100" href="#">` + methods[methods.selectedIndex].getAttribute('doc') + `</a>
								  </div>
								</div>
						`;
					})
				}
			})	
		}
		else if(type_model.value === 'linear'){
			form.innerHTML = `
			<label for="methods">Selecionar Método</label>
			<select class="form-control" id="methods" name="func_method">
					{%for method, doc in linear%}
						<option doc="{{doc}}" value="{{method}}">{{method}}</option>
					{%endfor%}
			</select>
			<div id="method_doc"></div>
			`
			const methods = document.getElementById('methods');
			methods.addEventListener('click', () => {
				const doc = document.getElementById('method_doc');
				doc.innerHTML = `
						<div class="dropdown show w-100 mt-2 mb-2">
						  <a class="btn btn-secondary dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Documentação
						  </a>

						  <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item w-100" href="#">` + methods[methods.selectedIndex].getAttribute('doc') + `</a>
						  </div>
						</div>
				`;
			})
		}
		else{
			const doc = document.getElementById('method_doc');
			doc.innerHTML = ``;
			form.innerHTML = ``;
		}
})
</script>
{%endblock javascripts%}
