{% extends 'layouts/base.html' %}
{% load static%}
{%block title%}Projeto {{object.name}}{%endblock title%}
{%block content%}
<div class="conteiner-fluid text-light">
		<div>
				<h1 class="text-white mt-1">Token do projeto: {{object.token}}</h1>
				<div>
					<h3>Tags: </h3>
					{%for tag in object.project_tag.all%}
						<a class="btn btn-success mr-2 mt-2 ml-2 mb-2" role="button" href="#">{{tag}}</a>
					{%endfor%}
				</div>
				<table class="table justify-content-center bg-info">
					<thead class="bg-primary">
						<th>Nome</th>
						<th>Descrição</th>
						<th>Número de Modelos</th>
						<th>Autor</th>
					</thead>
					<tbody>
						<tr scope="row">
								<td>{{object.name}}</td>
								<td>{{object.description}}</td>
								<td>{{object.num_models}}</td>
								<td>{{object.creator}}</td>
						</tr>
					</tbody>
				</table>
		</div>
		<div>
			<h1 class="alert alert-info mt-2">Pipelines</h1>
			{%url 'Pipeline:create_pipeline' name=object.name as pipeline_url%}
			{%include "includes/add_button_view.html" with urls=pipeline_url%}
			{%if not object.pipeline_set.all %}
				<h2 class="alert alert-warning">Sem pipelines disponíveis</h2>
			{%endif%}
			{%for pipeline in object.pipeline_set.all%}
			<div class="d-flex justify-content-between bg-info p-3 mb-2">
					<div>
					<a href="{%url 'Pipeline:detail_pipeline' pk=pipeline.id%}" class="btn btn-block btn-lg btn-info text-left">
							<div>Pipeline version: {{pipeline.version}} identificador: {{pipeline.id}}</div>

					</a>
					</div>
					<div>
								<div>
								 {%if pipeline.current_metric <= pipeline.f1_low%}
									Atual F1: <b class="bg-danger p-2 mr-2">{{pipeline.current_metric|floatformat:"2"}}</b>
								 {%elif pipeline.current_metric <= pipeline.f1_med%}
									Atual F1: <b class="bg-warning p-2 mr-2">{{pipeline.current_metric|floatformat:"2"}}</b>
								 {%else%}
									Atual F1: <b class="bg-success p-2 mr-2">{{pipeline.current_metric|floatformat:"2"}}</b>
								 {%endif%}
								 {%if pipeline.metric <= pipeline.f1_low%}
								 	Métrica F1: <b class="bg-danger p-2 mr-2">{{pipeline.metric}}</b>
								 {%elif pipeline.metric <= pipeline.f1_med%}
								 	Métrica F1: <b class="bg-warning p-2 mr-2">{{pipeline.metric}}</b>
								 {%else%}
								 	Métrica F1: <b class="bg-success p-2 mr-2">{{pipeline.metric}}</b>
								{%endif%}
								<a href="{%url 'Pipeline:update_threshold' pk=object.pk id=pipeline.id%}"><i class="bi bi-pencil-square mr-2 text-white"></i></a><a href="{%url 'Pipeline:delete_pipeline' id=pipeline.id%}"><i class="bi bi-x-circle-fill text-white"></i></a></div>
							</div>
				</div>
			{% endfor %}
		</div>
</div>
{%endblock content%}
