{% extends 'layouts/base.html' %}
{% load static %}
{% block title%}Tag {{object.name}}{%endblock title%}

{%block content%}
<div class="conteiner-fluid text-light">
  <h2>Detalhes da tag</h2>
  <p>Nome: {{object.name}}</p>
  <p>Descrição: {{object.description}}</p>
  <p>Criador: {{object.creator}}</p>
</div>
{%endblock content%}
