{% extends 'layouts/base.html'%}
{%load static%}
{%block title%}Login Page{%endblock title%}
{% block content%}
<div>
<form method="POST" class="mt-4 text-white" action="{%url 'User:login_view'%}">
    {%csrf_token%}
    {{form.as_p}}
    <input class="btn-success" type="submit" value="login">
</form>
</div>
{%endblock content%}
