{% extends 'layouts/base.html'%}
{% load static %}
{%block title%}Create User{%endblock title%}
{% block content %}
<style>
.create-form {
    text-align: center;
}

.create-form span{
    display: none;
}
</style>
{% block stylesheets %}
	<link href="{% static 'user_create.css'%}" rel="stylesheet"/>
{% endblock stylesheets %}
<form method="POST" class="mt-4 text-rigth text-white">
    {%csrf_token%}
    <div class="create-form">
    {{ form.as_p }}
    </div>
    <input class="btn-success" type="submit" value="Create User">
</form>
{%endblock content%}
